<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/addProduct.css">
    <title>añadirproducto</title>
</head>

<body > 
    <!-- Cabecera de la pagina-->
    <%- include('../partials/header') %>

    
        <div class="form-container">
            <form action="/indexVendedor/<%= user.id %>/create" method="POST">
                <div class="formsheader">
                    <h2 class="titulo">Añadir producto</h2>
                </div>
                <div class="input">
                    <label for="title">Nombre del producto</label>
                    <input placeholder="" type="text" name="title" required id="text">
                    
                    <input placeholder="Descripción Corta" type="text" name="shortdescription" required id="text2">
                    
                    <input placeholder="Descripción Larga" type="text" name="longDescription" required id="text2">
                </div>
                <div id="filepriceandselectors">
                    <label id="fileInputHolder">
                        <input type="file" id="imagen" />
                        Seleccionar archivo >
                      </label>
                    <div id="selectors">
                        <span>Categoría <select name="class" id="">
                            <option value="Jabon">jabones</option>
                            <option value="Belleza">belleza</option>
                            <option value="Semillas">semillas</option>
                            <option value="Artesanias">artesania</option>
                        </select></span>
                        
                    </div>
                </div>
                <div class="price">
                    <p class="tituloprice">Precio $ 
                        <input type="number" name="price" id="">
                    </p>
                    
                </div>
                    <div>
                    <button type="submit">Guardar</button>
                    </div>
                    
            </form>
        </div>
  

     <!-- Pie de la pagina-->
    
    <%- include('../partials/footer') %>
</body>

</html>