<div class=carrusel_img_detalle>
    <div class='contenedor_img_grande'>
        <a class='flecha' href="#next-image"> <i class="fas fa-arrow-left"></i></a>
        <img class='imagen_grande' width=30% src="/img/<%= product.imgs[0]%>" alt="<%= product.title%>">
        <a class='flecha' href="#next-image"><i class="fas fa-arrow-right"></i></a>
    </div>
    <div class='img-a-detalle'>
        <article id=imgDP>
            <img width=130px height=140px src="/img/velas_rev.png" alt="Velas aromáticas">
        </article>
        <article id=imgDP>
            <img width=130px height=140px=100% src="/img/portavela_rev.png" alt="Relajantes">
        </article>
        <article id=imgDP>
            <img width=130px height=140px=100% src="/img/vela_1.jpg" alt="Vela con rosas">
        </article>
        <article id=imgDP>
            <img width=130px height=140px=100% src="/img/vela_2.jpg" alt="vela y sueter">
        </article>
        <article id=imgDP>
            <img width=130px height=140px=100% src="/img/vela_3.jpg" alt="vela 3">
        </article>
    </div>
</div>