<label class="label-text" for="class">Categoría</label>
<select name="class" id="class">
    <option value="Jabon">jabones</option>
    <option value="Belleza">belleza</option>
    <option value="Semillas">semillas</option>
    <option value="Artesanias">artesania</option>
    <option value="Velas">velas aromáticas</option>
</select>