<header>
  <div class="trebol">

    <% if(locals.user){ %>
        <% if(user.category == 'Vendedor'){ %>
         
          <a href="/indexVendedor"><img class="logo" src="/img/logo.png" alt=""></a>
        <% } else { %>
          <a href="/"><img class="logo" src="/img/logo.png" alt=""></a>
          <% } %>
        <%  }else { %>

            <a href="/"><img class="logo" src="/img/logo.png" alt=""></a>
        <% } %>
    
      

      <div class="letras">
          <h1 class="tienda">MiTrébol</h1>
      <nav>
        <% if(locals.user){ %>
          <% if(user.category == 'Vendedor'){ %>
            <li><a href="/indexVendedor">Inicio <i class="fas fa-sign-in-alt"></i></a></li>
          <% } else { %>
            <li><a href="/">Inicio <i class="fas fa-sign-in-alt"></i></a></li>
            <% } %>
          <%  }else { %>
            <li><a href="/">Inicio <i class="fas fa-sign-in-alt"></i></a></li>
          <% } %>
          
          <br>
          <li><a href="/contactos">Contactos </a></li>
      </nav>
      </div>
      
  </div>

 
</header>