/* +++++++++++++++ Header +++++++++++++++*/

a{
    
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: .9

}
.letras h1.tienda {
  font-size: 2em;
}
nav, ul {
  list-style: none;
}

header{
  width: 100vw;
  height: auto;
  background: url(/img/trebol.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  /*background:  rgb(136, 255, 136);*/
  
  
  
}


.logo {
  width: 70px;
  height: 70px;
  margin-right: 30px;
  margin-bottom: 10px;
  
}
nav {
  color: rgb(255, 255, 255);
  font-weight: bold;
  
  
}


.trebol{
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  padding-top: 30px;
  background-color:  rgba(0, 0, 0, 0.452);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
 
}


/* Dispositivo de TABLET*/

@media(min-width: 480px){
  .trebol{
      width: 100%;
  }
  
  .letras{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content:space-around;

      width: 80%;
  }


}









/*++++++++++++++++++++++++++ Pie de pagina ++++++++++++++++++++++*/


.footer-contenedor {
  display: flex;
  width: 100%
}

.footer-elemento {
  flex-basis: 33%
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 60px 0
}

footer ul {
  margin-bottom: 25px;
  font-size: 16px
}

footer ul li {
  margin: 0 8px
}

footer ul li:first-child {
  margin-left: 0
}

footer ul li:last-child {
  margin-right: 0
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, .6);
  margin-bottom: 10px
}

footer p a {
  color: #fff
}

@media (max-width:480px) {
  .footer-contenedor {
      flex-direction: column
  }
}


@media (max-width:760px) {
  footer {
      padding: 80px 15px
  }
}