*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
body {
    font-family: Montserrat, sans-serif;
    background-color: rgba(255, 246, 241, 0.897);
}

p {
    font-size: 16px;
}
/*--Header genérico, casi igual a index--*/
header nav li {
    list-style: none;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #414a4fca;
    padding: 0 100px 0;
}

header .logos{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header div .logo {
    width: 60%;
    height: 60%;
    margin: 5% 8% 3% 5%;
}

header div .tienda {
    padding: 5%;
    font-size: 34px;
    text-align: center;
}

header nav {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

@media (max-width:1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
}

/*---IMAGENES a DETALLE del producto a mostrar---*/
main section.info_completa{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section div.carrusel_img_detalle{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}
section div.contenedor_img_grande{
    width: 55%;
    padding: 6%;
    margin: 2px;

}
section div.imagen_grande{
    width: 55%;
    padding: 3px;
    margin: 2px;
}
main section div.imgenes-a-detalle{
    display:flex;
    width: 40%;
    margin: 5% 0 5% 5%;
    justify-content: space-between;
    align-items: center;
}
main section div article.imgDP{
    flex-grow: 1;
    align-self: center;

}

/*--Informacion del producto a detallar--*/
main section div.info-producto-detalle{
    width: 55%;
    margin: 5% 5% 4% 0%;
    padding: 5% 0%;
}

h1{
    font-size: 60px; 
}
#precio{
    margin: 5% 0%;
    font-weight: bold;
}
#titulo-producto{
    font-weight: bold;
    margin: 2% 3% 0% 0%;
}

/*--Información del producto de Detalle--*/
main section div .titulo-natural1{
    padding: 10% 10% 0% 0%;
    margin: 8% 8% 0% 0%;
}
main section div .titulo-natural2{
    padding: 0% 10% 0% 0%;
    margin: 0% 2% 2% 0%;
}
section div .stars{
    font-size: 18px;
    color: #00954c;
    margin-right: 15px;
}
section div .detalles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0% 10% 0% 0%;
}
section div .rateing{
    margin: 0% 1%;
    display: flex;
    text-align: center;
}
section div p .valoracion{
    text-decoration-line: undeline;
    font-size: 12px;
}
#texto_producto_detalle{
    color: #414a4f;
}
div.detalles_menu{
    color: #414a4f;
    border-bottom: solid 3px #414a4f;
}
div ul.detalles_lista{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    text-decoration-line: none;
}
section div ul{
    color: #414a4f;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    text-decoration-line: none;
}
/*--Productos Relacionados--*/
main section.prod_relac{
    display: flex;
    flex-direction: row;
}

section h2.titulo_relacionados{
    width: 100%;
    height: 20%;
    margin: 3%;
    font-size: 32px;
    text-align: center;
}
section div.imagenes_relacionadas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5%;
}
img.imgPR{
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    max-width: 150px;
}

/*-- ¿qué hay en la caja?--*/
section h2.cajas{
    width: 100%;
    height: 20%;
    margin: 3% 3% 1% 3%;
    font-size: 32px;
    text-align: center;
}
section p.regala_caja_sorpresa{
    width: 100%;
    height: 16%;
    margin: 0 3%;
    text-align: center;
}
section div.cajas_dispo{
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5%;
}
#producto_info_general{
    width:30%;
    height: 40%;
    flex-grow: 1;
    align-self: center;
}