*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Cabecera del documento*/

header{
    width: 100vw;
    background: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
    /*background:  rgb(136, 255, 136);*/
    padding: 20px 5px 20px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   
    
}
header nav{
    
    display: flex;
    justify-content: space-between;
}

.parteUno{
    width: 40%;
    display: flex;
    flex-direction: row;
}

.parteUno li{
    margin-right: 30px;
}    

.parteDos{
    width: 40%;
    display: flex;
    flex-direction: row;
    
}

.logo{
    width: 60px;
    margin-bottom: 10px;
}

nav ul li  {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}


.ini, .com {
    padding: 5px;
    color: white;
    font-weight: 800;
    background-color: rgb(0, 81, 255);
    border: 2px solid black;
    border-radius: 10%;
    margin-bottom: 20px;
    margin-right: 5px;
}


/* Cuerpo del documento*/

main{
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
}

.carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin-bottom: 50px;
}

.totalPagar {
    border: 1px solid gray;
    border-radius: 20%;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Pie de pagina*/

footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(172, 236, 172);
    border-top: 2px solid rgb(0, 26, 255);
    padding: 10px;
    
}