*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
main, body {
    font-family: Montserrat, sans-serif;
    background-color: #fff;
}

p {
    font-size: 16px;
}
/*--Header genérico, casi igual a index--*/
header nav ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

header div .logo {
    width: 50%;
}

header .trebol {
    background-color: rgb(0 0 0 / 21%);
}

header div .tienda {
    text-align: center;
}

header div .logos {
    display: flex;
    vertical-align: middle;
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*color: #fff;*/
    padding: 0 100px 0
}

header nav {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

@media (max-width:1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
}

/*---Mi header--
header div.topheader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5%;
    align-items: center;
}

img.logotipo{
    align-self: center;
    width: 10%;
    height: 10%;
}

header div.submit{
    width: 20px;
    height: 20px;
    color:cornflowerblue;
    padding: 5%;
    margin: 0 3%;
    font-size: 22px;
}

nav.leftheader{
    display: flex;
    justify-content: space-around;
}

header div nav p.login{
    justify-content: flex-end;
    padding:5%;
    margin: 5%;
}
header div nav p a{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    color:black;
}
header div nav p.carrito{
    padding: 5%;
    margin: 5%;
    text-decoration: none;
}


#menu-header-ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}
header nav ul li a{
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    color: black;
}

header nav ul li{
    padding: 0 6%;
    margin: 0 5% 5% 5%;
}
/*header nav ul li.inicio{
    position: relative;
    left: 20px;
}*/
/*---IMAGENES a DETALLE del producto a mostrar---*/
main section{
    display: flex;
}
main section div.img-a-detalle{
    display:flex;
    width: 45%;
    margin: 5% 0 5% 5%;
}
main section div article.img1DP{
    flex-grow: 1;
}
main section div article{
    align-self: center;
}

/*--Informacion del producto a detallar--*/
main section div.info-producto-detalle{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 5%;
}
main section div{
    flex-grow: 1;
}
h1{
    font-size: 60px;
}
#precio{
    padding: 1%;
    margin: 3%;
}
#titulo-producto{
    font-style: bold;
    padding: 1%;
}