                      *{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
body {
    font-family: Montserrat, sans-serif;
    background-color: rgba(255, 246, 241, 0.897);
}

p {
    font-size: 16px;
}
/*--Header genérico, casi igual a index--*/

/*---IMAGENES a DETALLE del producto a mostrar---*/
main section.info_completa{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main section.info_completa{
    width: 100%;
    /*height: 1100px;*/
    padding: 150px 0 ;
}
section div.carrusel_img_detalle{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 10% 0 10% 5%;
}
section div.contenedor_img_grande{
    width: 100%;
    padding: 1px;
    margin: 3% 10% 1% 1%;
    display: flex;
    justify-content: center;
    align-self: center;
}
section div a.flecha{
    align-self: center;
    color:#414a4f;
}
section div img.imagen_grande{
    width: 55%;
    border: #414a4f 2px solid;
    margin: 1% 4% 2% 4%;
    border-radius: 8px;
}
main section div.img-a-detalle{
    display:flex;
    margin: 0% 10% 0 5%;
    justify-content: center;
    align-items: center;
}
#imgDP{
    display: flex;
    justify-content: center;
    border: #414a4f 2px solid;
    margin: 1%;
    border-radius: 6px;
}

/*--Informacion del producto a detallar--*/
main section div.info-producto-detalle{
    width: 55%;
    margin: 5% 5% 2% 5%;
    padding: 5% 0% 1% 0%;
}

h1{
    font-size: 60px; 
}
#precio{
    margin: 5% 0%;
    font-weight: bold;
}
#titulo-producto{
    font-weight: bold;
    margin: 2% 3% 0% 0%;
}

/*--Información del producto de Detalle--*/
main section div.titulo-natural1{
    padding: 10% 10% 0% 0%;
    margin: 8% 8% 0% 0%;
}
main section div .titulo-natural2{
    padding: 0% 10% 0% 0%;
    margin: 0% 2% 2% 0%;
}
section div .stars{
    font-size: 18px;
    color: #00954c;
    margin-right: 15px;
}
section div .detalles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0% 10% 0% 0%;
}
section div .rateing{
    margin: 0% 1%;
    display: flex;
    text-align: center;
}
section div p.valoracion{
    text-decoration:underline;
    font-size: 10px;
}
#texto_producto_detalle{
    color: #414a4f;
}
section div .listas_desplegables{
    display: flex;
    flex-direction: column;
}
section div select.detalles_menu{
    font-size: 16px;
    color: #414a4f;
    width: 70%;
    padding: 3%;
    border-style:none;
    border-bottom: #414a4f 3px solid;
    background-color:  rgba(255, 246, 241, 0.897);
}
section div select.envio{
    color: #414a4f;
    width: 70%;
    padding: 3%;
    border-style:none;
    background-color:  rgba(255, 246, 241, 0.897);
}
select .detalles_menu{
    border-bottom: solid 3px #414a4f;
}
div option{
    color: #414a4f;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    text-decoration-line: none;
}
p.cantidad{
    padding: 3% 3% 0 0;
    margin: 10% 10% 0 0;
}
div.cantidad_y_carrito{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
div.cuantos_quieres{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
div.cuantos_quieres{
   margin: 0 10% 0 0;
}
div .numero , .quitar , .agregar{
    width: 40px;
    height: 40px;
    border: 2px #414a4f solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
#bttn0_al_carrito{
    background-color: #28aa59;
    margin: 12px;
    width: 240px;
    border: solid #28aa59 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 450ms;
    transition: border 400ms;
}
#bttn0_al_carrito:hover{
    background-color: #60D3;
    border: solid #60D3 1px;
}

#bttn0_al_carrito button.texto_bttn_carrito{
    background-color: #28aa59;
    border: solid #28aa59 1px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    transition: background-color 450ms;
    transition: border 400ms;
}

#bttn0_al_carrito button.texto_bttn_carrito:hover{
    background-color: #60D3;
    border: solid rgba(103, 0, 221, 0.104) 1px;
    border-radius: 10px;
    width: inherit;
}

#bttn0_al_carrito i.fas.fa-shopping-cart{
order: -1;
margin: 0 3% 0 0 ;
}

p.quitar{
    order:-1;
}

/*--Productos Relacionados--*/
main section.prod_relac{
    width: 100%;
    margin: 5% 1%;
}

section h2.titulo_relacionados{
    width: 100%;
    height: 20%;
    margin: 3%;
    font-size: 32px;
    text-align: center;
}
section div.imagenes_relacionadas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    margin: 0 5%;
}

#producto_info_general{
    width:30%;
    height: 40%;
    flex-grow: 1;
    max-width: 450px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 400ms;
}
#producto_info_general:hover{
    box-shadow: 20px 10px gray;
}
img.imgPR{
    flex-grow: 1;
    flex-basis: 25%;
    max-width: 250px;
    border: #414a4f 2px solid;
    margin: 1%;
    border-radius: 6px;
}
article div p.titulo_prod{
    font-weight: bold;
    margin: 3px;
}
article div p.texto_peque{
    margin: 5px 3px;
}
#precioRel{
    color: rgba(14, 13, 13, 0.781);
    margin:5px 3px;
}
#bttn_al_carrito{
    background-color: #28aa59;
    padding:5px;
    margin: 12px;
    width: 240px;
    border: solid #28aa59 5px;
    border-radius: 10px;
    transition: background-color 450ms;
    transition: border 400ms;
}
#bttn_al_carrito:hover{
    background-color: #60D3;
    border: solid #60D3 5px;
}
}

/*-- ¿qué hay en la caja?--*/
section h2.cajas{
    width: 100%;
    height: 20%;
    margin: 5% 3% 1% 3%;
    font-size: 32px;
    text-align: center;
}
section p.regala_caja_sorpresa{
    width: 100%;
    height: 16%;
    margin: 0 3%;
    text-align: center;
}
section div.cajas_dispo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 5%;
    width: 100%;
}
#caja_info_general{
    width: 25%;
    height: 40%;
    flex-grow: 1;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ----------BREAK POINTS------------ */
/*-------Mobile-------*/
@media (max-width: 500px){
    main section.info_completa{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 10% 0;
        padding: 0%;
    }

    section div.imagenes_relacionadas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
        flex-wrap: nowrap;
        margin: 0 5%;
    }

    section div.cajas_dispo{
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;
        margin: 5% 3% 5% 3%;
        width: 90%;
    }

    main section div.img-a-detalle{
        display:flex;
        margin: 0% 10% 0 5%;
        flex-direction: column;
        align-content: space-around;
    }

    h1{
        font-size: 30px; 
    }

    section h2.titulo_relacionados{
        font-size: 28px;
    }

    main section div.info-producto-detalle{
        width: 100%;
        margin: 5% 5% 2% 5%;
        padding: 5% 0% 1% 0%;
    }

    main section div.titulo-natural1{
        padding: 0% 10%;
        margin: 3% 3% 0% 0%;
    }

    main section div.img-a-detalle{
        display: none;
    }

    section div.contenedor_img_grande{
        width: 100%;
        padding: 1px;
        margin: 0% 5% 1% 5%;
    }

    section div.carrusel_img_detalle{
        width: 100%;
        margin: 3% 0% 6% 0%;
    }

    main section div.info-producto-detalle{
        width: 90%;
        margin: 3% 0% 2% 4%;
        padding: 2% 0% 1% 4%;
    }

    div.cantidad_y_carrito{
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
    }

    #bttn0_al_carrito{
        margin: 10% 0;
        width: 100%;
    }

    #bttn_al_carrito{
        padding:5px;
        margin: 10% 0;
        width: 100%;
    }

    #texto_producto_detalle{
        width: 100%;
        margin: 3% 0;
    }

    section div select.detalles_menu{
        width: 90%;
        padding: 3%;
    }

    section div select.envio{
        width: 90%;
        padding: 3%;
    }

    #producto_info_general{
        width:90%;
        height: 40%;
        margin: 8%;
    }

    section p.regala_caja_sorpresa{
        width: 90%;
        height: 16%;
        margin: 1% 3%;
        text-align: center;
    }

    section h2.cajas{
        width: 100%;
        height: 20%;
        margin: 4% 0;
    }

    #caja_info_general{
        width: 80%;
        height: 80%;
        margin: 8%;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    p.cantidad{
        padding: 3% 3% 0 0;
        margin: 0;
    }

    #info_producto{
        margin: 0 4%;
    }
}
/*------TABLET------*/
@media (min-width: 400px){
    section div.carrusel_img_detalle{
        width: 90%;
        margin: 3% 3% 5% 3%;
        align-content: center;
    }

    section div.info-producto-detalle{
        width: 45%;
    }

    section.info_completa{
        padding: 0;
    }

    main section.info_completa {
        padding: 0;
    }

    section div.contenedor_img_grande{
        margin: 0% 10% 1% 0%;
        display: flex;
        justify-content: center;
        align-self: flex-start;
    }

    #imgDP{
       display: none;
    }

    h1{
    font-size: 40px;
    }

    main section div.info-producto-detalle{ 
        margin: 4% 3% 2% 3%;
        padding: 0;
        width: 90%;
    }

    section div .stars{
        font-size: 12px;
    }

    p.cantidad{
        margin: 6% 6% 3% 0;
        padding: 0;
    }

    div.cantidad_y_carrito{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #bttn0_al_carrito{
        margin: 12px 0;
        width: 90%;
    }

    div.cuantos_quieres {
        margin: 0 10% 0 0
    }
    section div select.detalles_menu{
        width: 90%;
        padding: 3% 0;
    }
    section div select.envio{
        width: 90%;
        padding: 3% 0;
    }

    img.imgPR {
        max-width: 90%;
    }

    section div.imagenes_relacionadas {
        flex-wrap: wrap;
    }

    #producto_info_general{
        width:100%;
        height: 50%;
        margin: 3% 0;
    }
    #caja_general{
        text-align: center;
    }

    #bttn_al_carrito{
        width: 100%;
        font-size: 18px;
    }
    #caja_info_general{
        align-items: center;
    } 
    
    section div.cajas_dispo{
        margin: 5% 0;
    }

    section h2.cajas{
       width: 90%;
       margin: 5% 3% 1% 3%;
       font-size: 32px;
       text-align: center;
   }
    }

    section p.regala_caja_sorpresa {
        width: 90%;
    }

    section h2.titulo_relacionados {
        width: 90%;
        margin-bottom: 0;
    }

    main section.prod_relac {
        width: 90%;
    }
}
@media (min-width: 500px){
    section div.imagenes_relacionadas {
        display: flex;
        flex-wrap: nowrap;
        justify-content: inherit;
    }

    section h2.titulo_relacionados {
        display: flex;
        justify-content: center;
    }

    #bttn_al_carrito {
        width: 81%;
        font-size: 8px;
    }
    #bttn0_al_carrito{
        font-size: 80%;
        width: 90%;
    }
}


@media (min-width: 769px){
    main section.prod_relac {
        margin-left: 0;
        width: 100%;
    }

    section div.imagenes_relacionadas {
        flex-wrap: nowrap;
        margin: 2% 4%;
    }

    #bttn_al_carrito {
        width: 86%;
        font-size: 13px;
    }

    section br.brPR{
        display: none;
    }
}

@media(min-width: 1000px){
    #imgDP {
        display: block;
        border: none;
    }
}