*{
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}



/* ++++++++++++ Cuerpo del documento +++++++++++++++++++++*/

main{
    
    display: flex;
    background-color: #ebebeb;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

section article img{
    width:  100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

section article .eliminar {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    background-color: red;
    color: white;
    
    color: white;
}
section article p {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

section article div input {
    padding: 10px;
    width: 50px;
}

.carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin-bottom: 50px;
}
main .carrito h2.titulo{
    width: 100%;
    color: green;
    font-size: 20px;
    text-align: center  ;
}

main article strong {
    font-size: 20px;
}

.totalPagar {
    width: 40%;
    height:  300px;
    background-color: rgba(10, 255, 10, 0.329);
    border: none;
    border-radius: 10px;
    display: flex ;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.totalPagar h2{
    text-align: center;
}

.totalPagar input{
    margin-top: 20px;
    padding: 20px;
    font-size:  20px;
    font-weight: bold;
    color: white;
    background-color: green;
    border: groove 2px rgb(0, 255, 0);
    border-radius: 20px;
}

.producto{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.452);
    background-color: white;
    border-radius: 10%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Dispositivo de TABLET*/

@media (min-width: 480px){
    .carrito{
        width: 100%;
    }
    
    .carro{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
        
    }

    .carro .producto{
        width: 40%;

    }
    

}

/* Dispositivo de Computadora*/

@media (min-width: 760px){

    main{
        flex-direction: row;

    }
       
    .carrito{   
        flex-direction: row;
        flex-wrap: wrap;
        width: 75%;
    }
    .carro .producto{
        width: 30%;

    }
    
    

    .totalPagar{
        width: 20%;
    }

}




