*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #ebebeb;
}

.form-container{
    text-align: center;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 1px #afafaf;
    background-color: white;
}

.head-register{
    color: white;
    width: 100%;
    padding:0.1px;
    border-radius: 10px;
    background-color: #28aa59;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.input{
    margin: 10px;
}

#user, #nombre, #apellido, #email, #password, #category,#file,#password_confirmation{
    width: 85%;
    padding: 2%;
    border-radius: 15px;
    border: none;
    margin: 5px;
    background-color: #ebebeb;
}

::placeholder{
    color: black;
}
main a{
    text-decoration: none;
    color: green;
}
button{
    padding: 10px 15px;
    margin: 10px;
    color: white;
    border-radius: 15px;
    background-color: #28aa59;
    border: none;
    
}
button:hover{
    background-color: #00954b;
    color: #fafafa;
}
.formsfooter{
    font-size: 13px;
    margin: 10%;
}
.titulofooter{
color: grey;
}


@media  (min-width: 900px) {
    .form-container{
        width: 30%;        
    }
}