<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/addProduct.css">
    <title>añadirproducto</title>
</head>

<body > 
    <header class="trebol">
       
    </header>
    <main class="main">
        <div class="form-container">
            <form action="">
                <div class="formsheader">
                    <h3 class="titulo">Añadir producto</h3>
                </div>
                <div class="input">
                    <label for="">Nombre del producto</label>
                    <input placeholder="" type="text" name="text" required id="text">
                    <label for="">Descripción</label>
                    <input placeholder="" type="text2" name="text2" required id="text2">
                </div>
                <div id="filepriceandselectors">
                    <label id="fileInputHolder">
                        <input type="file" id="imagen" />
                        Seleccionar archivo >
                      </label>
                    <div id="selectors">
                        <span>Categoria <select name="" id=""></select></span>
                        <span>Cantidad<select name="" id=""></select></span>
                    </div>
                </div>
                <div class="price">
                    <p class="tituloprice">Precio $ 
                        <input type="number" name="" id="">
                    </p>
                    
                </div>
                    <div>
                    <button type="submit">Guardar</button>
                    </div>
                    
            </form>
        </div>
    </main>
    <footer>
        <p>Derechos Reservados ©</p>
    </footer>
</body>

</html>