<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>

<body > 
    <header class="trebol">
       
    </header>
    <main class="main">
        <div class="form-container">
            <form action="">
                <div class="formsheader">
                    <h3 class="login">Login</h3>
                </div>
                <div class="input">
                    <input placeholder="Email" type="email" name="email" required id="email">
                    <input placeholder="Contraseña" type="password" name="password" required id="password">
                </div>
                <div id="remember-forgot">
                    <div id="remember">
                        <label>Remember me</label>
                        <input type="checkbox" name="remember" value="Si">
                    </div>
                    <div id="forgot">
                        <span>Forgot <a href="">password?</a></span>
                    </div>
                </div>
                    <div>
                    <button type="submit">Ingresar</button>
                    </div>
                    <div class="formsfooter">
                        <p class="titulofooter">¿No tienes una cuenta?</p>
                        <a href="register.html">Crear</a>
                    </div>
            </form>
        </div>
    </main>
    <footer>
        <p>Derechos Reservados ©</p>
    </footer>
</body>

</html>