<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css" >
    <title>Login</title>
</head>
<body>
    <header>
    </header>
    <div></div>
    <main>
        <div class="form-container">
        <h2 id="login">Login</h2>
        <form action="" method="post">
            <input placeholder="Email" type="email" name="email" required id="email">
            <input placeholder="Contraseña" type="password" required id="contraseña">
            <div class="boton">
                <button type="submit">Iniciar Sesión</button>
            </div>
                </span>
                    <label for="recordar"> Recuerdame <input type="radio" name="recordar" value="si" id="recordar">
                    </label>
                <a href="#" >¿Olvidaste tu contraseña?</a></span>
        </form>
    </div>
    </main>
    <div>
    <footer>
    </footer>
</div>
</body>
</html>