<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productDetail.css">
    <title>Detalle del producto</title>
</head>

<body>
    <header>
        <div class="topheader">
            <img class='logotipo' width=15% src="/img/trebol.png" alt="logo empresa">
            <h1 class='mitrebol'>MiTrebol</h1>
            <!--input class="input" placeholder="Buscar productos" type="text" name="search"-->
            <!--button name="submit" type="button"><i class="fas fa-search"></i></!--button-->
            <div class="submit"><i class="fa fa-search"></i></div>
            <nav class='leftheader'>
                    <p class='carrito'><a href="#">CARRITO</a></p>
                    <p class='login'><a href="#">LOGIN</a></p>
            </nav>
        </div>

        <nav class='menu-header'>
            <ul id='menu-header-ul'>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#j">Regístrate</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <article id=img1DP>
                <img width=30% src="/grupo_9_MiTrebol/Mi-Trebol/public/img/****un producto**" alt="X producto">
            </article>
            <article id=img2DP>
                <img width=30% src="/grupo_9_MiTrebol/Mi-Trebol/public/img/****un producto**" alt="X producto">
            </article>
            <article id=img3DP>
                <img width=30% src="/grupo_9_MiTrebol/Mi-Trebol/public/img/****un producto**" alt="X producto">
            </article>
            <article id=img4DP>
                <img width=30% src="/grupo_9_MiTrebol/Mi-Trebol/public/img/****un producto**" alt="X producto">
            </article>
            <article id=img5DP>
                <img width=30% src="/grupo_9_MiTrebol/Mi-Trebol/public/img/****un producto**" alt="X producto">
            </article>
            <article>
                <h1>Producto 100% Natural</h1>
                <div class='Reviews'>
                    <div>
                        <span class='Rated'></span>
                        <!---aplica estilos a un texto o agrupar elementos en linea-->>
                        <svg></svg>
                        <!--crea imagenes vectoriales-->
                        </span>
                    </div>
                    <div class='Comments'>

                    </div>
                </div>
                <div>
                    <p id='precio'>$100.00</p>
                    <p id='*'>Loret en bold</p>
                    <p id='*'>Texto con la info grl del producto</p>
                </div>
                <ul id='detalles'>
                    <p>Detalles</p>
                    <li>precio por kilo</li>
                    <li>Hecho por: x</li>
                    <li>lorem....</li>
                </ul>
                <br>
                <ul id='Envío'>
                    <p>Detalles</p>
                    <li>lorem...</li>
                    <li>lorem...</li>
                    <li>lorem...</li>
                </ul>
            </article>
        </section>

        <!--PRODUCTOS RELACIONADOS-->
        <section>
            <h2>Productos relacionados</h2>
            <div>
                <article id=producto_info_general>
                    <img src='*' alt="Título producto">
                    <div id='caja_general'>
                        <div id='info_producto'>
                            <p>lorem en bold...</p>
                            <p>lorem normal...</p>
                            <p id='precioRel'>Precio$$</p>
                        </div>

                        <div id='bttn_al_carrito'>
                            <input class="input" placeholder="Agrega el producto a tu carrito" type="text"
                                name="search">
                            <button name="submit" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </article>

                <article id=producto_info_general>
                    <img src='*' alt="Título producto">
                    <div id='caja_general'>
                        <div id='info_producto'>
                            <p>lorem en bold...</p>
                            <p>lorem normal...</p>
                            <p id='precioRel'>Precio$$</p>
                        </div>

                        <div id='bttn_al_carrito'>
                            <input class="input" placeholder="Agrega el producto a tu carrito" type="text"
                                name="search">
                            <button name="submit" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </article>

                <article id=producto_info_general>
                    <img src='*' alt="Título producto">
                    <div id='caja_general'>
                        <div id='info_producto'>
                            <p>lorem en bold...</p>
                            <p>lorem normal...</p>
                            <p id='precioRel'>Precio$$</p>
                        </div>

                        <div id='bttn_al_carrito'>
                            <input class="input" placeholder="Agrega el producto a tu carrito" type="text"
                                name="search">
                            <button name="submit" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </article>

                <article id=producto_info_general>
                    <img src='*' alt="Título producto">
                    <div id='caja_general'>
                        <div id='info_producto'>
                            <p>lorem en bold...</p>
                            <p>lorem normal...</p>
                            <p id='precioRel'>Precio$$</p>
                        </div>

                        <div id='bttn_al_carrito'>
                            <input class="input" placeholder="Agrega el producto a tu carrito" type="text"
                                name="search">
                            <button name="submit" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <section>
            <h2>¿Qué hay en la caja?</h2>
            <p>lorem...</p>
            <div>
                <article id=producto_info_general>
                    <img src='*' alt="Título producto">
                    <div id='caja_general'>
                        <div id='info_producto'>
                            <p>lorem en bold...</p>
                            <p>lorem normal...</p>
                        </div>
                    </div>
                </article>

                <article id=producto_info_general>
                    <img src='*' alt="Título producto">
                    <div id='caja_general'>
                        <div id='info_producto'>
                            <p>lorem en bold...</p>
                            <p>lorem normal...</p>
                        </div>
                    </div>
                </article>

                <article id=producto_info_general>
                    <img src='*' alt="Título producto">
                    <div id='caja_general'>
                        <div id='info_producto'>
                            <p>lorem en bold...</p>
                            <p>lorem normal...</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <footer>
            <h1 class='mitrebol'>MiTrebol</h1>
            <p>lorem...</p>
            <form>
                < <input type="email" name=email>
                    <button type="submit" name='suscribete' ...... . . . . . . </form>
        </footer>
    </main>
</body>