<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Mi Carrito</title>
</head>
<body>
    <!-- Cabecera de la pagina-->
    <header>
        <img src="/img/logo-mi-trebol.png" alt="logotipo" class="logo">
        <nav>
            <ul>
                <li><a href="#">Acerca</a></li>
                <li><a href="#">Contatos</a></li>
            </ul>

            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Comprar</a></li>
            </ul>
        </nav>


        


    </header>

    <!-- Cuerpo de la pagina-->
    <main>
        <div class="carrito">
            <h2>MI CARRITO DE COMPRAS</h2>

                <section class="carro">
                    <article class="producto">
                        <img src="" alt="articulo">
                        <strong>Titulo del articulo y detalles</strong>
                        <p>$ 000.00</p>
                        <div class="cantidad">
                            <input type="number" name="canti" id="can-pro" value="1">
                        </div>
                        <div class="eliminar"> 
                            <input type="button" value="Eliminar">
                        </div>
                    </article>
                    <article class="producto">
                        <img src="" alt="articulo">
                        <strong>Titulo del articulo y detalles</strong>
                        <p>$ 000.00</p>
                        <div class="cantidad">
                            <input type="number" name="canti" id="can-pro" value="1">
                        </div>
                        <div class="eliminar"> 
                            <input type="button" value="Eliminar">
                        </div>
                    </article>

                </section>
        </div>
        

        <div class="totalPagar">
            <div>
                <h2>TOTAL A PAGAR</h2>
                <h2>$ <span id="enteros"> 000</span>.<span id="decimales">000</span> </h2>
            </div>

            <input type="button" value="PAGAR">
            
        </div>


    </main>
    
    <!-- Pie de la pagina-->
    <footer>
        <img src="/img/logo-mi-trebol.png" alt="logotipo" class="logo">
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca</a></li>
                <li><a href="#">Contatos</a></li>
            </ul>
        </nav>


    </footer>


</body>
</html>