<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css" >
    <title>Crearcuenta</title>
</head>
<body>
    <header>
    </header>
    <div></div>
    <main>
        <div class="form-container">
        <h2 id="register">Crear Cuenta</h2>
        <form action="" method="post">
            <input placeholder="Nombre" type="text" name="nombre" required id="nombre">
            <input placeholder="Apellido" type="text" name="apellido" required id="apellido">
            <input placeholder="Email" type="email" name="email" required id="email">
            <input placeholder="Contraseña" type="password" required id="contraseña">
            <div class="boton">
                <button type="submit">Crear</button>
            </div>
        </form>
    </div>
    </main>
    <div>
    <footer>
    </footer>
</div>
</body>
</html>