<!DOCTYPE html>
<html lang="en">
      <head>
         <%- include('../partials/head') %>
         <link rel="stylesheet" href="/css/index.css">
         <title>Iniciar sesión</title>
   </head>
   <body>
      <!-- Cabecera de la pagina-->
      <%- include('../partials/header') %>
      <main class="main">
      <div class = "errorsUser">
         <% if (typeof errors !='undefined' ) { %>
         <p style='color: red'>ERROR</p>
         <ul>
            <% for (let i=0; i < errors.length; i++) { %>
            <li>
               <%= errors[i].msg %>
            </li>
            <% } %>
         </ul>
         <% } %>
      </div>
      <section class="login-form" id="">
         <div class="container">
            <div class="row">
               <div class="col-12 text-center">
                  <h2>Iniciar sesión</h2>
                  <p class="informativo">Ingresa tus credenciales para acceder a MiTrébol.</p>
                  <hr class="separador mx-auto">
               </div>
               <div class="col-sm-12 col-md-12 col-lg-6 mx-auto">
                  <form>
                     <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                        <input  placeholder="micuenta@mitrebol.com.mx" name="email" required id="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                     </div>
                     <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input placeholder="MiContraseña"  name="password" required id="password" type="password" class="form-control" id="exampleInputPassword1">
                     </div>
                     <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recordar mi usuario</label>
                     </div>
                     <div>
                        <p id="forgot" href="">Olvidé mi contraseña</p>
                        <a class="login" href="/users/register">¿No tienes una cuenta? <b>Crea una en segundos.</b></a> 
                     </div>
                     <button type="submit" class="btn btn-primary pad">Ingresar</button>
                  </form>
               </div>
            </div>
         </div>
      </section>
      <%- include('../partials/footer') %>
      <!-- Sección de SCRIPTS -->
   </body>
</html>